body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	background-color: #4CAF55;
	color: white;
	padding: 10px;
	text-align: center;
}

#task-form {
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	padding: 10px;
}

#task-input {
	border: none;
	flex-grow: 1;
	padding: 10px;
}

#task-input:focus {
	outline: none;
}

#task-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#task-list li {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

#task-list li.completed {
	text-decoration: line-through;
}

#task-list li:last-child {
	border-bottom: none;
}