* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color:#172808;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

#flavors {
    margin-bottom: 2rem;
}

header{
	text-align:center;
}

.flavor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flavor {
    flex-basis: calc(30% - 2rem);
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.flavor img {
    width: 50%;
}

#order {
    background-color:#172808;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color:#172808;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}